<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>admin dashboard</title>
		<style>
			.container {
				display: flex;
				height: 200px;
			}

			.sidebar {
				width: 200px;
				background-color: #f1f1f1;
			}

			.content {
				flex-grow: 1;
				background-color: #ddd;
				height: 100vh;
				padding: 30px;
			}
		</style>
      
    </script>
	</head>
	<body>
		<div class="container">
			<div class="sidebar"><%- include('../partials/sidebar.ejs') %></div>
			<div class="content">
                <style>
                    table {
                      border-collapse: collapse;
                      width: 100%;
                    }
                    
                    th, td {
                      border: 1px solid black;
                      padding: 8px;
                      text-align: left;
                    }
                    
                    tr:nth-child(even) {
                      background-color: #f2f2f2;
                    }
                    
                    .button-container {
                      display: flex;
                      justify-content: center;
                      margin-top: 10px;
                    }
                    
                    .button {
                      margin: 0 5px;
                      padding: 5px 10px;
                      background-color: #4CAF50;
                      color: white;
                      border: none;
                      cursor: pointer;
                      border-radius: 4px;
                    }
                  </style>
                </head>
    
                <table>
					<thead>
						<tr>
							<th>Index</th>
							<th>Email</th>
							<th>Last Modified</th>
							<th>Created At</th>
							<th>Role</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% users.forEach((user, index) => { %>
							<tr>
								<td><%= index + 1 %></td>
								<td><%= user.email %></td>
								<td><%= new Date(user.updatedAt).toLocaleDateString("en-GB", {day: "2-digit",month: "2-digit",year: "numeric"}) %></td>
								<td><%= new Date(user.createdAt).toLocaleDateString("en-GB", {day: "2-digit",month: "2-digit",year: "numeric"}) %></td>
								<td><%= user.usertype %></td>
								<td>
									<div class="button-container">
										<button class="button">Edit</button>
										<button class="button">Delete</button>
									</div>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
                
			</div>
		</div>
	</body>
 
</html>
